DB_HOST=127.0.0.1
DB_USER=postgres
DB_PASS=SuperSecretPassword
DB_NAME=postgres
DB_PORT=5432

ADMIN_USERNAME=admin
# apikey can be any string but i would recommend using a a base64 string with 64 byte length cna be generated with openssl rand -base64 64
ADMIN_APIKEY=KF0tisiCwoPu1PZW4RTh2R31bvJe43GooLJ9OAETRPfutxQ+QVUqlPQoHJS9AJBAU/0Tum9NvnszuKOa/7rUBg==

